{% extends "base.html" %}

{% block container %}

  <div style="margin-left:30px;">
    <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>{{ form.non_field_errors }}</p>
      <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
       {% for field in form.visible_fields %}
        <div class="form-group">
          {{field.label}}: {{field}} 
        </div>
      {% endfor %}
      <p><input type="submit" value="Upload" /></p>
    </form>
  </div>

{% endblock %}